extends ../layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/users/" + user_id+ "/movies") Add Movie
  list(class='booklist')
    ul(class='book')
      each user_movie in userMovieList
        div(class='author') Title: #{user_movie.movie.movie_title}
        div(class='title') Release Date: #{user_movie.movie.release_date}
        br
        div(class='cover_art')
          img(src=user_movie.movie.cover_art)
        if (user_movie.rating )
          div(class='rating') Rating:#{user_movie.rating}
        else 
          div(class='rating') Rating: No Rating.
        div(class='status') Status: #{user_movie.status}
        
        form(name="delete_movie" action='/usersMovies/delete' method='POST')
          input(type="hidden" value=user_movie.id name="movie_id")
          input(type="hidden" name="_method" value="DELETE")
          button(id="delete_movie" type="submit" value="Delete") Delete Movie
        
        form(name="update_movie" action='/usersMovies/update' method='POST')
          input(type="hidden" value=user_movie.id name="movie_id")
          button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Status
          ul.dropdown-menu
            li
              input.status( name="status" value="Want to read" type="submit")
            li
              input.status( name="status" value="Reading" type="submit")
            li
              input.status( name="status" value="Read" type="submit") 
            br

        form(name="update_rating" action='/usersMovies/updateRating' method='POST')
          input(type="hidden" value=user_movie.id name="movie_id")
          button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Rating
          ul.dropdown-menu
            li
              input.rating( name="rating" value="1" type="submit")
            li
              input.rating( name="rating" value="2" type="submit")
            li
              input.rating( name="rating" value="3" type="submit")
            li
              input.rating( name="rating" value="4" type="submit")
            li
              input.rating( name="rating" value="5" type="submit")  
            br